@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header class="mb-6">
    <h1 class="text-3xl font-semibold text-red-600 mb-2">@ViewData["Title"]</h1>
    <p class="text-lg text-red-600">This account has been locked out, please try again later.</p>
</header>
